<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Druid - a distributed column store.
  ~ Copyright 2012 - 2015 Metamarkets Group Inc.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<Configuration status="warn">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>
        </Console>
        <RollingFile name="file" fileName="./log/druid-${sys:logsuffix}.log" filePattern="./log/druid-${sys:logsuffix}.log.%i">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="50MB" />
            </Policies>
            <DefaultRolloverStrategy max="5" fileIndex="min"/>
        </RollingFile>
        <RollingFile name="emitter" fileName="./log/emitter-${sys:logsuffix}.log" filePattern="./log/emitter-${sys:logsuffix}.log.%i">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="50MB" />
            </Policies>
            <DefaultRolloverStrategy max="5" fileIndex="min"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <logger name="LoggingEmitter" level="info" additivity="false">
            <AppenderRef ref="emitter"/>
        </logger>
        <Root level="info">
            <AppenderRef ref="file"/>
        </Root>
    </Loggers>
</Configuration>

